clr-modal {
  .modal-title {
    white-space: pre-wrap;
  }

  .clr-form {
    padding-left: 0;

    .clr-form-control {
      margin-top: 0;
    }
  }

  &.type--input {
    label {
      display: none;
    }

    input[name="input"] {
      width: 500px;
    }
  }
}
