<h3 class="module-title">Serve</h3>

<div class="module-content">
  <div class="clr-row">
    <div class="clr-col-12">
      <p>Start a local server for your static assets</p>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-12">
      <form clrForm [formGroup]="form" class="clr-form-horizontal">
        <clr-input-container>
          <label>Host</label>
          <input clrInput type="text" formControlName="host" placeholder="localhost" />
        </clr-input-container>
        <clr-input-container>
          <label>Port</label>
          <input clrInput type="number" formControlName="port" placeholder="5000" min="1" max="65535" />
          <clr-control-error>Enter a number between 1 and 65535.</clr-control-error>
        </clr-input-container>

        <clr-checkbox-container>
          <label class="label-top">Targets</label>
          <clr-checkbox-wrapper *ngFor="let target of formTargets.controls; let i=index">
            <input type="checkbox" clrCheckbox [formControl]="target" />
            <label>{{ targets[i].name }}</label>
          </clr-checkbox-wrapper>
          <clr-control-error>Select at least one target.</clr-control-error>
        </clr-checkbox-container>
        <br />
        <button *ngIf="!serveRunning" class="btn btn-primary" type="submit" (click)="startServe()" [disabled]="!form.valid">
          Start
        </button>
        <button *ngIf="serveRunning" class="btn btn-primary" (click)="stopServe()">Stop</button>
      </form>
    </div>
  </div>
  <app-shell-output></app-shell-output>
</div>