<div class="wrapper" mwlResizable [enableGhostResize]="true"
  [resizeEdges]="{ bottom: false, right: false, top: isOpen, left: false }" (resizeEnd)="onResizeEnd($event)">
  <div class="toggle" [class.open]="isOpen">
    <a href="javascript://" class="label clickable" (click)="toggle()">
      CLI Output
      <clr-icon shape="angle-double" [dir]="isOpen ? 'down' : 'up'"></clr-icon>
    </a>
  </div>
  <div class="output-container" [class.open]="isOpen" [style.transition]="'height 0.15s ease-in-out'">
    <div class="output shell-output" [innerHTML]="safeOutput" #outputRef></div>
  </div>
</div>