@import "../../../theme";

:host {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 10rem;
  display: none;
}

:host.visible {
  display: block;
}

.wrapper {
  position: absolute;
  bottom: 1rem;
  top: 0px;
  left: 0px;
  right: 0px;
}

mwlResizable {
  box-sizing: border-box;
}

.toggle {
  color: $app-shell-output-toggle-color;
  background-color: $app-shell-output-header-bg-color;
  display: flex;
  justify-content: flex-end;
  height: 1rem;
  align-items: center;
  padding-right: 0.15rem;
  font-size: 0.87em;

  & {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  }

  * + * {
    margin-left: 0.3rem;
  }
}

.output-container {
  height: 100%;

  .output {
    padding: 0 0.2rem;
    width: 100%;
    height: 100%;
  }

  &.open .output {
    padding-bottom: 1rem;
  }
}
