<ng-container *ngxLet="workspace$ | async; let selectedWorkspace">
  <ng-container *ngxLet="user$ | async; let user">
    <clr-header class="header" [class.inactive]="inactive">
      <clr-dropdown class="branding" #workspaceDropdown>
        <a class="logo-and-title nav-icon" clrDropdownTrigger href="javascript://">
          <span class="clr-icon app-logo"></span>
          <ng-container *ngIf="selectedWorkspace; else noWorkspaceSelected">
            <div>
              <span class="p4 current-workspace-header">Current Workspace:</span>
              <div class="title current-workspace-name">{{ getWorkspaceName(selectedWorkspace) }}</div>
            </div>
          </ng-container>
          <ng-template #noWorkspaceSelected>
            <div>
              <span class="title">Select a workspace</span>
            </div>
          </ng-template>
          <clr-icon shape="caret down"></clr-icon>
        </a>
        <clr-dropdown-menu *clrIfOpen class="workspace-selector-menu">
          <div class="workspace-list">
            <ng-container *ngFor="let workspace of (workspaceList$ | async)">
              <div clrDropdownItem (click)="selectWorkspace(workspace)">
                <div>
                  <clr-icon
                    *ngIf="selectedWorkspace && selectedWorkspace.path === workspace.path; else notSelectedWorkspace"
                    shape="folder-open" size="24" class="folder-icon is-solid">
                  </clr-icon>
                  <ng-template #notSelectedWorkspace>
                    <clr-icon shape="folder" size="24" class="folder-icon"></clr-icon>
                  </ng-template>
                  <span class="workspace-project-path">{{ workspace.path }}</span>
                </div>
                <div class="workspace-project-name p2">
                  Project: {{ workspace.projectAlias }}
                  <ng-container *ngIf="workspace.projectId !== workspace.projectAlias">
                    ({{ workspace.projectId }})
                  </ng-container>
                </div>
                <button class="btn btn-icon remove-workspace" title="Remove this workspace"
                  (click)="removeWorkspace($event, workspace, workspaceDropdown)">
                  <clr-icon shape="trash"></clr-icon>
                </button>
              </div>
              <div class="dropdown-divider"></div>
            </ng-container>
          </div>
          <div class="actions">
            <button class="btn btn-primary" (click)="addWorkspace(workspaceDropdown)">Add Workspace</button>
          </div>
        </clr-dropdown-menu>
      </clr-dropdown>
      <div class="header-actions">
        <clr-dropdown>
          <button *ngIf="user.info" class="nav-icon" class="user-profile-picture" clrDropdownTrigger
            title="{{ user.info.name }} - {{ user.email }}">
            <span class="clr-icon" [style.backgroundImage]="'url('+ user.info.imageUrl +')'"></span>
          </button>
          <button *ngIf="!user.info" class="nav-icon" class="user-profile-picture" clrDropdownTrigger
            [title]="user.email">
            <clr-icon shape="user" size="32"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a href="javascript://" clrDropdownItem (click)="openDevTools()">
              <clr-icon shape="wrench"></clr-icon>
              Open DevTools
            </a>
            <a href="javascript://" clrDropdownItem (click)="logout()">
              <clr-icon shape="logout"></clr-icon>
              Sign out
            </a>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </clr-header>
  </ng-container>
</ng-container>