@import "../../../theme";

.clr-vertical-nav {
  height: 100%;

  &:not(.is-collapsed) {
    width: 9rem;
  }

  .nav-divider {
    border-bottom: 0;
  }

  clr-icon[size="18"] {
    min-width: 18px;
  }

  clr-icon[size="20"] {
    min-width: 20px;
  }
}
