clr-vertical-nav {
  height: 100%;
  background-color: #eceff1;

  .nav-divider {
    border-bottom: 0;
  }

  clr-icon[size="18"] {
    min-width: 18px;
  }

  clr-icon[size="20"] {
    min-width: 20px;
  }

  .nav-link.active .nav-icon {
    fill: #039be5;
  }
}