<clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">

  <a clrVerticalNavLink routerLink="./settings" routerLinkActive="active">
    <clr-icon size="20" clrVerticalNavIcon shape="cog" title="Settings"></clr-icon>
    Settings
  </a>

  <a clrVerticalNavLink routerLink="./serve" routerLinkActive="active">
    <clr-icon size="20" clrVerticalNavIcon shape="network-globe" title="Serve"></clr-icon>
    Serve
  </a>

  <a clrVerticalNavLink routerLink="./deploy" routerLinkActive="active">
    <clr-icon size="20" clrVerticalNavIcon shape="cloud-traffic" title="Deploy"></clr-icon>
    Deploy
  </a>

  <a clrVerticalNavLink routerLink="./targets" routerLinkActive="active">
    <clr-icon size="20" clrVerticalNavIcon shape="target" title="Targets"></clr-icon>
    Targets
  </a>

  <div class="nav-divider"></div>

  <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="false">
    <clr-icon size="20" clrVerticalNavIcon shape="users" title="Auth"></clr-icon>
    Auth
    <clr-vertical-nav-group-children>
      <a clrVerticalNavLink routerLink="./auth.export" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="download-cloud"></clr-icon>
        Export users
      </a>
      <a clrVerticalNavLink routerLink="./auth.import" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="upload-cloud"></clr-icon>
        Import users
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="false">
    <clr-icon size="20" clrVerticalNavIcon shape="data-cluster" title="Database"></clr-icon>
    Database
    <clr-vertical-nav-group-children>
      <a clrVerticalNavLink routerLink="./database.get" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="import"></clr-icon>
        Get data
      </a>
      <a clrVerticalNavLink routerLink="./database.set" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="export"></clr-icon>
        Set data
      </a>
      <a clrVerticalNavLink routerLink="./database.update" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="note"></clr-icon>
        Update
      </a>
      <a clrVerticalNavLink routerLink="./database.push" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="add-text"></clr-icon>
        Push
      </a>
      <a clrVerticalNavLink routerLink="./database.remove" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="trash"></clr-icon>
        Remove
      </a>
      <a clrVerticalNavLink routerLink="./database.profile" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="dashboard"></clr-icon>
        Profile
      </a>
      <a clrVerticalNavLink routerLink="./database.settings.get" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="backup"></clr-icon>
        Get settings
      </a>
      <a clrVerticalNavLink routerLink="./database.settings.set" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="backup-restore"></clr-icon>
        Set settings
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="false">
    <clr-icon size="20" clrVerticalNavIcon shape="cpu" title="Emulators"></clr-icon>
    Emulators
    <clr-vertical-nav-group-children>
      <a clrVerticalNavLink routerLink="./emulators.start" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="lightbulb"></clr-icon>
        Start
      </a>
      <a clrVerticalNavLink routerLink="./emulators.exec" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="file-settings"></clr-icon>
        Execute
      </a>
      <a clrVerticalNavLink routerLink="./emulators.setup.firestore" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="cluster"></clr-icon>
        Set up Firestore
      </a>
      <a clrVerticalNavLink routerLink="./emulators.setup.database" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="storage"></clr-icon>
        Set up Database
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="false">
    <clr-icon size="20" clrVerticalNavIcon shape="file-group" title="Firestore"></clr-icon>
    Firestore
    <clr-vertical-nav-group-children>
      <a clrVerticalNavLink routerLink="./firestore.delete" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="trash"></clr-icon>
        Delete
      </a>
      <a clrVerticalNavLink routerLink="./firestore.indexes" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="list"></clr-icon>
        Indexes
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="false">
    <clr-icon size="20" clrVerticalNavIcon shape="cluster" title="Functions"></clr-icon>
    Functions
    <clr-vertical-nav-group-children>
      <a clrVerticalNavLink routerLink="./functions.log" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="view-list"></clr-icon>
        View logs
      </a>
      <a clrVerticalNavLink routerLink="./functions.delete" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="trash"></clr-icon>
        Delete
      </a>
      <a clrVerticalNavLink routerLink="./functions.config.get" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="backup"></clr-icon>
        Get config
      </a>
      <a clrVerticalNavLink routerLink="./functions.config.set" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="backup-restore"></clr-icon>
        Set config
      </a>
      <a clrVerticalNavLink routerLink="./functions.config.unset" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="trash"></clr-icon>
        Unset config
      </a>
      <a clrVerticalNavLink routerLink="./functions.config.clone" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="clone"></clr-icon>
        Clone config
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="false">
    <clr-icon size="20" clrVerticalNavIcon shape="world" title="Hosting"></clr-icon>
    Hosting
    <clr-vertical-nav-group-children>
      <a clrVerticalNavLink routerLink="./hosting.disable" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="ban"></clr-icon>
        Disable
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="false">
    <clr-icon size="20" clrVerticalNavIcon shape="target" title="Hosting"></clr-icon>
    Targets
    <clr-vertical-nav-group-children>
      <a clrVerticalNavLink routerLink="./hosting.disable" routerLinkActive="active">
        <clr-icon size="20" clrVerticalNavIcon shape="ban"></clr-icon>
        Disable
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
</clr-vertical-nav>