$FIREBASE_YELLOW: #ffca28;
$FIREBASE_AMBER: #ffa000;
$FIREBASE_ORANGE: #f57c00;
$FIREBASE_BLUE: #039be5;
$FIREBASE_NAVY: #2c384a;
$FIREBASE_CORAL: #ff8a65;
$FIREBASE_GREY: #eceff1;

/** HEADER **/
$clr-header-bgColor: $FIREBASE_BLUE;

/* VERTICAL NAV */
$clr-vertical-nav-bg-color: $FIREBASE_GREY;
$clr-vertical-nav-item-color: $FIREBASE_NAVY;
$clr-vertical-nav-item-active-color: $FIREBASE_NAVY;
$clr-vertical-nav-active-bg-color: #fafafa;
$clr-vertical-nav-icon-active-color: $FIREBASE_BLUE;
$clr-vertical-nav-toggle-icon-color: $FIREBASE_NAVY;

/* TYPOGRAPHY */
$clr-global-font-color: $FIREBASE_NAVY;
$clr-h1-color: $FIREBASE_NAVY;
$clr-h2-color: $FIREBASE_NAVY;
$clr-h3-color: $FIREBASE_NAVY;
$clr-h4-color: $FIREBASE_NAVY;
$clr-h5-color: $FIREBASE_NAVY;
$clr-h6-color: $FIREBASE_NAVY;
$clr-p1-color: $FIREBASE_NAVY;
